<h1> <%= @user.username %>'s Profile </h1>

<img src=@user.profile_picture />

<div class="button">
  <%= link_to "Update Password/Delete Account", edit_user_registration(@user)%>
</div>

<div class="button">
  <%= link_to "Edit Profile Picture", edit_user_path(@user)%>
</div>
